<tr>
  <td class="post">
    <span class="title"><%= link_to feed_item.title, feed_item %></span>
    <span class="timestamp">
      Posted by 
      <%= link_to feed_item.user.name, feed_item.user %>
      <%= time_ago_in_words(feed_item.created_at) %> ago.<br />
	  <%= pluralize(feed_item.comments.count, "comment") %>
    </span>
  </td>
</tr>
