<body>
	
	<fb:login-button perms="read_stream,publish_stream"></fb:login-button>
	<%= debug(cookies) %>
	
	
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({appId: '<%= @app_id %>', status: true, cookie: true, xfbml: true});
	    FB.Event.subscribe(<% if @current_user %><%= 'auth.logout' %><% else %><%= 'auth.login' %><% end %>, function(response) {
	      window.location.reload();
	    });
	  };
	  (function() {
	    var e = document.createElement('script');
	    e.type = 'text/javascript';
	    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
	    e.async = true;
	    document.getElementById('fb-root').appendChild(e);
	  }());
	</script>
</body>