<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="post">Ask!</h1>
        <%= render 'shared/post_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>

<% else %>
  <h1>Social Needle</h1>
  <p>
  This is the home page for Social Needle prototype. 
  </p> 
  <%= link_to "Sign up!", signup_path, :class => "signup_button round" %>
<% end %>
